<div class="main bg-transparent">
    <form class="form my-form" (ngSubmit)="onConvertRequest()" #convertForm="ngForm">
        <div class="form-group">
            <span><b>Select Base Currency</b></span>
            <select class="form-select" ngModel required name="baseCurrency">
                <option value="BGN">BGN</option>
                <option value="EUR">EUR</option>
                <option value="USD">USD</option>
                <option value="CAD">CAD</option>
            </select> 
            <label class="col-sm-2 col-form-label" for="baseCurrency"></label>
        </div>
        <div class="form-group">
            <span><b>Select Currency to convert to</b></span>
            <select class="form-select" ngModel required name="currencyToConvertTo">
                <option value="BGN">BGN</option>
                <option value="EUR">EUR</option>
                <option value="USD">USD</option>
                <option value="CAD">CAD</option>
            </select>
            <label class="col-sm-2 col-form-label" for="currencyToConvertTo"></label>
        </div>
        <div class="form-group">
            <span><b>Sum to convert</b></span>
            <input class="form-control" type="text" ngModel required name="sumToConvert" />
            <label class="col-sm-2 col-form-label" for="sumToConvert"></label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-danger" [disabled]="!convertForm.valid">Submit</button>
        </div>
        <span [hidden]="isHidden"> {{ sumToConvert }} {{ baseCurrency }} are equal to {{ resultSum }} {{currencyToConvertTo}}</span>
    </form>
</div>

<div>
    <app-conversions [conversions]="conversions"></app-conversions>
</div>
