<div class="main bg-transparent">
    <form class="form my-form" (ngSubmit)="onConvertRequest()" #convertForm="ngForm">
        <div class="form-group">
            <span><b>From</b></span>
            <select class="form-select" [(ngModel)]="fromCurrency" required name="fromCurrency">
                <option value="BGN">BGN</option>
                <option value="EUR">EUR</option>
                <option value="USD">USD</option>
                <option value="CAD">CAD</option>
            </select>
            <label class="col-sm-2 col-form-label" for="fromCurrency"></label>
        </div>
        <div class="form-group">
            <span><b>To</b></span>
            <select class="form-select" [(ngModel)]="toCurrency" required name="toCurrency">
                <option value="BGN">BGN</option>
                <option value="EUR">EUR</option>
                <option value="USD">USD</option>
                <option value="CAD">CAD</option>
            </select>
            <label class="col-sm-2 col-form-label" for="toCurrency"></label>
        </div>
        <div class="form-group">
            <span><b>Amount</b></span>
            <input class="form-control" type="number" [(ngModel)]="amount" required name="amount" />
            <label class="col-sm-2 col-form-label" for="amount"></label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-danger" [disabled]="!convertForm.valid">Convert</button>
        </div>
        <span [hidden]="isHidden"> {{ amount }} {{ fromCurrency }} are equal to {{ resultSum }} {{ toCurrency }}</span>
    </form>
</div>

<div>
    <app-conversions [conversions]="conversions"></app-conversions>
</div>