<img src="../assets/images/istockphoto-1402430796-612x612.jpg" alt="fin-flow-pic">

<nav>
  <ul role="presentation">
    <li class="nav nav-item active">
        <a class="nav-link" routerLink="/home"><b>Home</b></a>
      </li>
    <li class="nav nav-item active">
      <a class="nav-link" routerLink="/finances"><b>Finances</b></a>
    </li>
    <li class="nav nav-item active">
      <a class="nav-link" routerLink="/profile"><b>Profile</b></a>
    </li>
    <li class="nav nav-item active">
      <a class="nav-link" routerLink="/login"><b>Login</b></a>
    </li>
    <li class="nav nav-item active">
      <a class="nav-link" routerLink="/register"><b>Register</b></a>
    </li>
    <li class="nav nav-item active">
      <a class="nav-link" href="https://github.com/RumenTerziev" target="_blank"><b>Github</b></a>
    </li>
  </ul>
</nav>

<div class="heading-container">
  <h1>Welcome to our Fin Flow application!</h1>
</div>
<router-outlet></router-outlet>
