<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul role="presentation">
    <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
    <li class="nav-item active">
      <a class="nav-link" routerLink="/finances">Finances</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" routerLink="/profile">Profile</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="https://github.com/RumenTerziev" target="_blank">Github</a>
    </li>
  </ul>
</nav>

<div class="heading-container">
  <h1>Welcome to our Fin Flow application!</h1>
</div>
<router-outlet></router-outlet>
