<nav>
  <ul>
    <li class="nav nav-item active">
      <a class="nav-link" routerLink="/home"><b>Home</b></a>
    </li>
    <li class="nav nav-item active" *ngIf="isAuthenticated">
      <a class="nav-link" routerLink="/finances"><b>Finances</b></a>
    </li>
    <li class="nav nav-item active" *ngIf="isAuthenticated">
      <a class="nav-link" routerLink="/chat-ai"><b>Chat with AI</b></a>
    </li>
    <li class="nav nav-item active" *ngIf="isAuthenticated">
      <a class="nav-link" routerLink="/profile"><b>Profile</b></a>
    </li>
    <li class="nav nav-item active" *ngIf="!isAuthenticated">
      <a class="nav-link" routerLink="/login"><b>Login</b></a>
    </li>
    <li class="nav nav-item active" *ngIf="!isAuthenticated">
      <a class="nav-link" routerLink="/register"><b>Register</b></a>
    </li>
    <li class="nav nav-item active">
      <a class="nav-link" href="https://github.com/RumenTerziev" target="_blank"><b>Github</b></a>
    </li>
    <li class="nav nav-item active">
      <app-logout *ngIf="isAuthenticated"></app-logout>
    </li>
  </ul>
</nav>

<app-loader></app-loader>
<router-outlet></router-outlet>
