nav {
    padding-left: 10px;
    padding-right: 30px;
    background-color: lightcoral;
}

ul {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: auto;
    list-style: none;
}

img {
    position: absolute;
    z-index: -2;
    width: 100vw;
    height: 100vh;
}

.heading-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    background-color: aliceblue;
    color: #d9534f;
}

@media screen and (max-width: 620px) {
    nav {
        margin: 0px;
        padding: 0px;
        position: absolute;
    }

    ul {
        padding: 0px;
        padding-bottom: 10px;
        top: 15vh;
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: #d9534f;
    }
}
