<div class="login-main bg-transparent">
    <form class="form my-form" (ngSubmit)="onSubmit()" #registerForm="ngForm">
        <div class="form-group">
            <span><b>First name</b></span>
            <input class="form-control" type="text" ngModel name="firstName" />
            <label class="col-sm-2 col-form-label" for="usfirstNameername"></label>
        </div>
        <div class="form-group">
            <span><b>Last name</b></span>
            <input class="form-control" type="text" ngModel name="lastName" />
            <label class="col-sm-2 col-form-label" for="lastName"></label>
        </div>
        <div class="form-group">
            <span><b>Username</b></span>
            <input class="form-control" type="text" ngModel name="username" />
            <label class="col-sm-2 col-form-label" for="username"></label>
        </div>
        <div class="form-group">
            <span><b>Password</b></span>
            <input class="form-control" type="password" ngModel name="password" />
            <label class="col-sm-2 col-form-label" for="password"></label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-danger">Submit</button>
        </div>
    </form>
</div>